:root {
  --accent: rgba(0, 0, 0, 0.8);
}

body {
  padding: 0;
  margin: 0;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--accent) !important;
  color: white;
  padding-top: 50px;
  text-align: center;
  font-size: 32px;
}

.footer a {
  padding: 25px;
  transition: ease 0.2s;
}

.footer a:hover {
  color: #3795ff !important;
}

/* Navbar */

.navbar {
  padding-bottom: 0;
  font-family: "Cinzel", serif;
  font-weight: 500;
  color: black;
}

/* Home */

.titleContainer {
  width:100vw;
  height:100%;
}

.about {
  font-size: xx-large;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.portfolio {
  font-size: 5vw;
  font-family: "Notable", sans-serif;
}

.photography {
  font-size: xx-large;
  font-family: "Bebas Neue", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
}

.lightShine,
.collage {
  width: 99%;
}

.italicLocation {
  font-style: italic;
  font-family: "Raleway", sans-serif;
  font-size: small;
}

.showcase {
  font-family: "Cinzel", serif;
  font-size: x-large;
}

/* Gallery */

.galleryTitle {
  font-family: "Cinzel", serif;
text-align: center;
text-decoration: underline;
  font-size: x-large;
}

.galleryImage {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
  max-width:325px !important;
  transition: .2s ease-in
}

.galleryImage:hover, .galleryImageLarge:hover {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 1);
}

.galleryImageLarge {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
  max-width: 80% !important;
  transition: .3s ease-in
}

.fogVillage {
  font-family: "Cinzel", serif;
  font-size: x-large;
  max-width: 75%;
  border: 5px double black;
  padding:5px;
  border-radius: 25px;
  
}

@media (max-width: 450px) {
  .galleryImageLarge {
    max-width:100% !important;
    min-width:325px !important;
  }
}